/** Write your CSS in here **/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: orange;
}
#new-quote {
  padding: 14px;
  margin-bottom: 5%;
  justify-content: right;
}
